*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

h1 {
  text-align: center;
}

.quadratone {
  margin: auto;
  width: 605px;
  height: 605px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadratini {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/* Per div con un data.response tra 1 e 5 */
.giallo {
  background-color: yellow;
}

/* Per div con data.response maggiore di 5 */
.verde {
  background-color: green;
}

/* per i div cliccati */
.cliccato {
  display: flex;
  align-items: center;
  justify-content: center;
}
